:root {
  --Primary-color: #be0000bc;
  --spacing: 1rem;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Nav{
  height: 100px
  width 100%;
  background-color: #b
}

ul > li {
  list-style-type: square;
}
