:root {
  --primary-color: #290402;
  --spacing: 1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: var(--primary-color);
}

p{
  color: white;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  background-image: url(header.png);
  background-size: 100%;
  background-position: 80%;
  background-repeat: no-repeat;
}

nav ul{
  display: flex;
  flex-direction: row;
  gap: 34px;
  list-style: none;
}

nav ul a{
text-decoration-line:none;
color: rgb(112, 150, 112);
}
 


main{
  max-width: 1100px;
  margin: auto;
}

footer{
  background-color:rgb(112, 150, 112);


}
  
p{
   font-family: verdana;
  font-size: 20px;
}


body h1 {
color: white;
padding-left: 40%;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body h2 {
  color: white;
  padding-top: 30pt;
}

h3{
  color: white;
  padding-left: 50%;
}

/*------------ Home ----------------*/

figcaption{
  color: white;
}

div.home img{
  padding-top: 10pt;
  height: 300pt;
  width: 200pt;

}


/*----------- portfolio ----------- */

div.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding-bottom: 10px;

}

div.portfolio img{
  width: 100%;
  height: auto;
}

div.po


/*------------ about ----------------*/

 div.background {
    background-image: url('self\ portrait.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
  }

div.about_img{
  height: 80%;
  width: 70%;
  padding-bottom: 30%;
  padding-top: 5%;
  align-content: center;
}

div.about caption{
text-align: center;
padding-bottom: 20%;
}

div.about-text{
  color: white;
  padding-top: 20%;
  padding-left: 10%;
}



/* ------------- contact ---------------*/ 


div.contact img{
  display: table-column;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 40px;
  width: 300px;
  height: 300px;

}

img {
  width: 200px;
  height: 300px;
}



div.home{
  display: grid;
grid-template-columns: 1fr 1fr;
  height: auto;
  width: auto
}

div.email{
  color: white;
  padding-left: 45%;
}