:root {
  --primary-color: #290402;
  --spacing: 1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: var(--primary-color);
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  background-image: url(header\ image.png);
  background-size: 100%;
  background-position: 80%;
  background-repeat: no-repeat;
}

nav ul{
  display: flex;
  flex-direction: row;
  gap: 34px;
  list-style: none;
}

nav ul a{
text-decoration-line:none;
color: rgb(112, 150, 112);
}
 
main{
  max-width: 1100px;
  margin: auto;
}

footer{
  background-color: white;

}
  
p{
   font-family: verdana;
  font-size: 20px;
}






/*------------ Home ----------------*/

figcaption{
  color: white;
}




/*----------- portfolio ----------- */

div.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding-bottom: 10px;

}

div.portfolio img{
  width: 100%;
  height: auto;
}

div.po


/*------------ about ----------------*/

div.about {
  background-image: url(self\ portrait.jpg);
  background-repeat:no-repeat;
  background-size: cover;


}

div.about img{
  height: 50%;
  width: 50%;
}

div.about caption{
text-align: center;
padding-bottom: 20%;
}

div.about-text{
  color: white;
}


/* ------------- contact ---------------*/ 


div.contact img{
  display: table-column;
  grid-row: 1fr 1fr;
  gap: 16px;
  padding: 40px;
  width: 300px;
  height: 300px;

}

img {
  width: 200px;
  height: 300px;
}



div.home{
  display: grid;
  grid-row: 1fr 1fr;
  height: auto;
  width: auto
}

