:root {
  --main-color: #a0140d;
  --font-stack: 'Arial', sans-serif;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Nav{
  height: 100px
  width 100%;
  background-color: #be0000bc
}

ul > li {
  list-style-type: square;
}
